name: Codacy Analysis CLI

on: push

jobs:
  codacy-analysis-cli:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Run codacy-analysis-cli
        uses: codacy/codacy-analysis-cli-action@3.0.0
        with:
          project-token: ${{ secrets.CODACY_PROJECT_TOKEN }}
          upload: true
          max-allowed-issues: 2147483647
